body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #fafaf4;
    color: #111;
}

header h1 {
    color: #134686;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

header p {
    color: #ED3F27;
}

header {
    padding: 10px 20px;
}

.logo {
    text-align: left;
}

header .logo img {
    width: 50px;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.05);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
}

.navbar .logo img {
    width: 70px;
    transition: all 0.3s ease;
}

.navbar .right-menu {
    display: flex;
    align-items: center;
    gap: 6px;
}

.navbar nav a {
    text-decoration: none;
    color: #000;
    font-size: 0.95rem;
    font-weight: 700;
    margin-right: 1rem;
}

.logo img:hover {
    transform: scale(1.1);
}

.navbar nav a:hover {
    color: #c84747;
}

.btn {
    border: none;
    padding: 7px 16px;
    border-radius: 9999px;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.95rem;
}

.right-menu .btn+.btn {
    margin-left: 9px;
}

.login {
    background: #4e8ef7;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.login:hover {
    color: #3a6fcc;
    transform: scale(1.1);
}

.signup {
    background: #f25b5b;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.signup:hover {
    color: #c84747;
    transform: scale(1.1);
}

.menu-section {
    padding: 40px 10%;
    border-bottom: none;
}

.menu-section.alt {
    background-color: #ffffff;
}

.menu-section.alt .info {
    padding: 10px 20px;
}

.menu-section h2 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}

.menu-section .info {
    margin-right: 0;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.menu-item.reverse {
    flex-direction: row;
}

.menu-item.reverse .info {
    margin-left: 0;
}

.menu-item img {
    width: 250px;
    height: 250px;
    background-color: #fff;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.menu-item img:hover {
    transform: scale(1.03);
}

.menu-item .info {
    max-width: 60%;
}

.menu-item h3 {
    font-size: 30px
}

.menu-item p {
    font-size: 14px;
    color: #838383;
}

.menu-item button {
    margin-top: 10px;
    padding: 11px 21px;
    border: 1px solid #000;
    background: #000;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.2s ease;
}

.menu-item button:hover {
    background-color: #5f5f5f;
    color: #ffffff;
}

.feedbacks {
    background: #4e8ef7;
    color: #fff;
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 8px;
    transition: background 0.3s;
}

.feedbacks:hover {
    background: #3a75e3;
}

.feedbackicon {
    width: 20px;
    height: auto;
    position: relative;
    top: 0;
}

footer {
    padding: 40px 60px;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

.footer-top {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
}

.footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-weight: 600;
    font-size: 1rem;
}

footer .social {
    display: flex;
    gap: 1rem;
    align-items: center;
}

footer .social i {
    font-size: 2rem;
    color: #134686;
    cursor: pointer;
    transition: color 0.3s, transform 0.2s;
}

footer .social i:hover {
    color: #ED3F27;
}

@media (max-width: 767px) {
    .navbar {
        padding: 10px 20px;
    }

    .navbar nav a {
        font-size: 0.8rem;
        margin-right: 0.8rem;
    }

    .btn {
        padding: 5px 12px;
        font-size: 0.8rem;
        border-radius: 9999px;
    }

    .main-content-wrapper {
        padding: 20px 20px;
    }

    .navbar .logo img {
        width: 70px;
    }

    .menu-section {
        padding: 20px 20px;
    }

    .menu-item {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .menu-item img {
        width: 80%;
        height: auto;
    }

    .menu-item .info {
        max-width: 100%;
        margin: 0;
        text-align: center;
    }

    .menu-item.reverse {
        flex-direction: column;
    }

    footer {
        padding: 40px 20px;
    }
}

@media (min-width: 768px) {
    .navbar nav a {
        font-size: 0.95rem;
    }

    .menu-item.reverse .info {
        margin-left: 100px;
        max-width: 70%;
        text-align: left;
    }
}

@media (min-width: 1024px) {
    .navbar .logo img {
        width: 75px;
    }

    .menu-item.reverse .info {
        margin-left: 100px;
        max-width: 70%;
        text-align: left;
    }
}