body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fafaf4;
    color: #111;
}

.header {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    padding: 25px 70px;
    box-sizing: border-box;
    text-align: center;
}

.logo {
    text-align: left;
}

.logo img {
    width: 70px;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.05);
}

.nav-links {
    display: flex;
    gap: 24px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

.nav-links a {
    text-decoration: none;
    color: #134686;
    font-weight: 600;
    font-size: 0.95rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ED3F27;
}

.nav-links .log-in:hover {
    color: #434ee9;
}

.nav-links .sign-up:hover {
    color: #ba311f
}

.navbar .home {
    margin-top: 7px;
}

.navbar .about-us {
    margin-top: 7px;
}

.navbar .log-in {
    background-color: #4e8ef7;
    color: #fff;
    padding: 6px 14px;
    border-radius: 999px;
    display: inline-block;
}

.navbar .sign-up {
    background-color: #f25b5b;
    color: #fff;
    padding: 6px 14px;
    border-radius: 999px;
    display: inline-block;
}

.menu-section {
    padding: 40px 10%;
    border-bottom: 1px solid #ccc;
}

.menu-section.alt {
    background-color: #ffffff;
}

.menu-section h2 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.menu-item.reverse {
    flex-direction: row;
}

.menu-item img {
    width: 300px;
    height: 300px;
    background-color: #fff;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.menu-item img:hover {
  transform: scale(1.03);
}

.menu-item .info {
    max-width: 60%;
}

.menu-item h3 {
    font-size: 30px
}

.menu-item p {
    font-size: 14px;
    color: #838383;
}

.menu-item button {
    margin-top: 10px;
    padding: 11px 21px;
    border: 1px solid #000;
    background: #000;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.2s ease;
}

.menu-item button:hover {
    background-color: #5f5f5f;
    color: #ffffff;
}

footer {
    text-align: center;
    padding: 40px 60px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
}

.btn-feedback {
    background-color: #7BA9FF;
    color: black;
    padding: 10px 20px;
    margin: 20px 1px;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    font-size: 25px;
    transition: background-color 0.2s ease;
}

.feedbackicon {
    width: 30px;
    height: auto;
    margin-right: 5px;
    float: left;
}

.feedback {
    text-align: right;
    margin-right: 150px;
}

.feedback button:hover {
    background-color: #6a84f6;
}

footer .social {
    display: flex;
    gap: 1rem;
    align-items: center;
}

footer p {
    font-weight: 600;
    font-size: 1rem;
    margin-top: 40px;
}

footer .social i {
    font-size: 2rem;
    color: #134686;
    cursor: pointer;
    transition: color 0.3s, transform 0.2s;
}

footer .social i:hover {
    color: #ED3F27;
}

@media (max-width: 767px) {

    .navbar {
        padding: 10px 20px;
    }

    .navbar nav a {
        font-size: 0.8rem;
        margin-right: 0.8rem;
    }

    .btn {
        padding: 5px 12px;
        font-size: 0.8rem;
        border-radius: 9999px;
    }

    .navbar .logo img {
        width: 70px;
    }

    footer {
        padding: 40px 20px;
    }
}

@media (min-width: 768px) {
    .navbar nav a {
        font-size: 0.95rem;
    }
}

@media (min-width: 1024px) {
    .navbar .logo img {
        width: 75px;
    }
}