body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

/* Header  */
header h1 {
    color: #134686;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

header p {
    color: #ED3F27;
}

header {
    padding: 10px 20px;
}

header .logo img {
    width: 50px;
}

/* Navbar  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
}

.navbar .logo img {
    width: 70px;
    transition: all 0.3s ease;
}

.navbar .right-menu {
    display: flex;
    align-items: center;
    gap: 6px;
}

.navbar nav a {
    text-decoration: none;
    color: #000;
    font-size: 0.95rem;
    font-weight: 700;
    margin-right: 1rem;
}

.logo img:hover {
    transform: scale(1.1);
}

.navbar nav a:hover {
    color: #c84747;
}

/* button */
.btn {
    border: none;
    padding: 7px 16px;
    border-radius: 9999px;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.95rem;
}

.right-menu .btn + .btn {
    margin-left: 9px; 
}


.login {
    background: #4e8ef7;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.login:hover {
    color: #3a6fcc;
    transform: scale(1.1);
}

.signup {
    background: #f25b5b;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.signup:hover {
    color: #c84747;
    transform: scale(1.1);
}

/*body*/
h1 {
  font-size: 2.5rem;
  color: #444;
  margin-bottom: 10px;
  padding: 20px;
  text-align: center;
}

/* Menu */
.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px 20px;
}

.food {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.food:hover {
  transform: scale(1.04);
}

.food img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.name {
  font-weight: bold;
  font-size: 1.3rem;
  color: #444;
}

.price {
  font-size: 1.1rem;
  color: #767272;
  font-weight: 600;
}

button a {
  text-decoration: none;
  color: #333;
  font-size: 0.95rem;
}

.change_page {
  text-align: center;
  margin: 30px 0 60px 0;
}

.foot-container {
  padding: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.foot-contact h3 {
  font-weight: 700;
  margin-bottom: 10px;
}

.foot-about p {
  color: #666;
  line-height: 1.5;
  font-size: 0.95rem;
}

/* Footer  */
footer {
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

footer .social {
    display: flex;
    gap: 1rem;
    align-items: center;
}

footer p {
    font-weight: 600;
    font-size: 1rem;
}

footer .social i {
    font-size: 2rem;
    color: #134686;
    cursor: pointer;
    transition: color 0.3s,transform 0.2s;
}

footer .social i:hover {
    color: #ED3F27;
}

/* Media Queries */
@media (max-width: 767px) {

    .navbar {
        padding: 10px 20px;
    }

    .navbar nav a {
        font-size: 0.8rem;
        margin-right: 0.8rem;
    }

    .btn {
        padding: 5px 12px;
        font-size: 0.8rem;
        border-radius: 9999px;
    }

    .main-content-wrapper {
        padding: 20px 20px;
    }

    .navbar .logo img {
        width: 70px;
    }

    footer {
        padding: 40px 20px;
    }
}

@media (min-width: 768px) {
    .navbar nav a {
        font-size: 0.95rem;
    }
}

@media (min-width: 1024px) {
    .navbar .logo img {
        width: 75px;
    }
}