
body {
    font-family: 'Inter', sans-serif;
}

a:link,
a:visited,
a:hover,
a:active {
  color: rgb(255, 255, 255); 
  text-decoration: none; 
}

/* Header */
header h1 {
    color: #134686;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

header p {
    color: #ED3F27;
}

header {
    padding: 10px 20px;
}

header .logo img {
    width: 50px;
}

/* Navbar  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    /* Padding สำหรับ Desktop/Tablet */
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
}

.navbar .logo img {
    width: 70px;
    transition: all 0.3s ease;
}

.navbar .right-menu {
    display: flex;
    align-items: center;
    gap: 6px;
}

.navbar nav a {
    text-decoration: none;
    color: #000;
    font-size: 0.95rem;
    /* <-- ปรับลดขนาดลงอีก */
    font-weight: 700;
    /* ปรับให้หนาขึ้น */
    margin-right: 1rem;
    /* ปรับลดระยะห่างด้านขวาของลิงก์ */
}

/*header {
    padding: 10px;
    text-align: right;
    font-size: 16px;  
      
}

.festicon {
    width: 75px;
    height: 75px;
    float: left;
    margin-top: 0px;
    margin-right: 0px;
}*/


/* ปุ่ม */
.btn {
    border: none;
    padding: 7px 16px;
    border-radius: 9999px;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.95rem;
}

.login {
    background: #4e8ef7;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.login:hover {
    background: #3a75e3;
}

.signup {
    background: #f25b5b;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: background-color 0.3s;
}

.signup:hover {
    background: #e34c4c;
}

/* Main Content */
main {
    text-align: left;
    margin-top: px;
    margin-bottom: 180px;
    margin-left: 0px;
    margin-right: 0px;

}

.originheading {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0px;
}


article {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #606060;
    
}

.originpic {
    width: 500px;
    height: auto;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: px;
    float: right;
}

/* Picture Section */
figure {
   text-align: center;
}


.pichead {
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: -80px;
}  

.pictext {
    font-size: 20px;
    color: #606060;
    margin-bottom: 40px;
    margin-top: 10px;
}

.picshow {
    width: 250px;
    height: 375px;
    margin: 0px;
}


/* Team Members Section */
.member {
    display: flex;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #606060;
}
.memberhead {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: black;
}
    
/* Category Section */
.category {
    width: 700px;
    height: 250px;
    background-color: #f4f3f3;
    padding: 20px;
    box-shadow: 5px 5px 4px #c2bfbf;
    margin: 0 auto;
    margin-top: 50px;
    color: black;
    margin-bottom: 18px;
}

.categoryhead {
    color: black;
    display: flex;
    font-size: 20px;
    margin-bottom: 10px;
    align-items: center;
    
}

.category div {
    
    margin-bottom: 15px;
    
}

.category-item  {
    display: flex;
    text-align: center;
    justify-content: space-around;
    
}

.item:hover,
.item:link,
.item:visited,
.item:active {
    color: black;
}

#item3 {
    margin-top: 15px;
}

/*button {
    border: none;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 1px;
    cursor: pointer;
    border-radius: 50px;
}

.btn-login {
    background-color: #7BA9FF; 
    color: black;
}

.btn-signup {
    background-color: #FF7B7B; 
    color: black;
}
*/
.btn-learnmore {
    background-color: #000000; 
    color: white;
    border: none;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 1px;
    cursor: pointer;
    border-radius: 50px;
}

.btn-learnmore:hover {
    background-color: #333333;
}

.feedbacks {
    
    background: #4e8ef7;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 5px;
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
}

.feedbacks:hover {
    background: #3a75e3;
}

.feedbackicon {
    width: 25px;
    height: auto;
    margin-right: 5px;
    position: relative;
    top: 7px;
}

.feedback {
    text-align: right;
    margin-right: 20px;
}

/* Footer */
footer {
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
}

footer .social {
    display: flex;
    gap: 1rem;
    align-items: center;
}

footer p {
    font-weight: 600;
}

footer .social i {
    font-size: 1.5rem;
    color: #134686;
    cursor: pointer;
    transition: color 0.3s;
}

footer .social i:hover {
    color: #ED3F27;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
    .originpic {
        width: 49vw;
        height: auto;
        margin-bottom: 147px;
    }

    main {
        text-align: center;
        margin-bottom: 268px;
    }

    .btn-learnmore {
        border: none;
        padding: 10px 17vw;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 20px 1px;
        cursor: pointer;
        border-radius: 10px;
    }

    .pichead {
        font-size: 44px;
        
    }   

    .picshow {
    width: 111px;
    height: 169px;
    margin: 0px;
}

    .member {
        flex-direction: column;
        align-items: right;
    }
    
    .category {
        width: 600px;
        height: 225px;
    }
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    .originpic {
        width: 100vw;
        height: max-content;
        float: none;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30px;
    }
    
    main {
        text-align: center;
        margin-bottom: 20px;
    }

    .pichead {
        margin-top: 0px;
        
    }

    .picshow {
    width: 76px;
    height: 115px;
    margin: 0px;
}

    .member {
        flex-direction: column;
        align-items: right;
    }

    .btn-learnmore {
        border: none;
        padding: 10px 40vw;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 20px 1px;
        cursor: pointer;
        border-radius: 10px;
    }

    .category {
        width: 400px;
        height: 220px;
    }
}