
body {
    font-family: 'Inter', sans-serif;
}

a:link,
a:visited,
a:hover,
a:active {
  color: rgb(255, 255, 255); 
  text-decoration: none; 
}

/* Header  */
header h1 {
    color: #134686;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

header p {
    color: #ED3F27;
}

header {
    padding: 10px 20px;
}

header .logo img {
    width: 50px;
}

/* Navbar  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
}

.navbar .logo img {
    width: 70px;
    transition: all 0.3s ease;
}

.navbar .right-menu {
    display: flex;
    align-items: center;
    gap: 6px;
}

.navbar nav a {
    text-decoration: none;
    color: #000;
    font-size: 0.95rem;
    font-weight: 700;
    margin-right: 1rem;
}

.logo img:hover {
    transform: scale(1.1);
}

.navbar nav a:hover {
    color: #c84747;
}

/* ปุ่ม */
.btn {
    border: none;
    padding: 7px 16px;
    border-radius: 9999px;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.95rem;
}

.right-menu .btn + .btn {
    margin-left: 9px; 
}


.login {
    background: #4e8ef7;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.login:hover {
    color: #3a6fcc;
    transform: scale(1.1);
}

.signup {
    background: #f25b5b;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.signup:hover {
    color: #c84747;
    transform: scale(1.1);
}

/* Main Content */
main {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 180px;
    margin-left: 0px;
    margin-right: 0px;

}

.originheading {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0px;
}


article {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #606060;
    
}

.originpic {
    width: 500px;
    height: auto;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: px;
    float: right;
}

/* Picture Section */
figure {
   text-align: center;
}


.pichead {
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: -80px;
}  

.pictext {
    font-size: 20px;
    color: #606060;
    margin-bottom: 40px;
    margin-top: 10px;
}

.picshow {
    width: 250px;
    height: 375px;
    margin: 0px; 
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}


/* Team Members Section */
.member {
    display: flex;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #606060;
}
.memberhead {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: black;
}
    
/* Category Section */
.category {
    width: 700px;
    height: 250px;
    background-color: #f4f3f3;
    padding: 20px;
    box-shadow: 5px 5px 4px #c2bfbf;
    margin: 0 auto;
    margin-top: 50px;
    color: black;
    margin-bottom: 18px;
}

.categoryhead {
    color: black;
    display: flex;
    font-size: 20px;
    margin-bottom: 10px;
    align-items: center;
    
}

.category div {
    
    margin-bottom: 15px;
    
}

.category-item  {
    display: flex;
    text-align: center;
    justify-content: space-around;
    
}

.item:hover,
.item:link,
.item:visited,
.item:active {
    color: black;
}

#item3 {
    margin-top: 15px;
}

/*button {
    border: none;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 1px;
    cursor: pointer;
    border-radius: 50px;
}

.btn-login {
    background-color: #7BA9FF; 
    color: black;
}

.btn-signup {
    background-color: #FF7B7B; 
    color: black;
}
*/
.btn-learnmore {
    background-color: #000000; 
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 1px;
    cursor: pointer;
    border-radius: 10px;
}

.btn-learnmore:hover {
    background-color: #333333;
}

.feedbacks {
    
    background: #4e8ef7;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 5px;
    text-align: center;
    padding-left: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.1rem;
    font-weight: 0.5;
}

.feedbacks:hover {
    background: #3a75e3;
}

.feedbackicon {
    width: 25px;
    height: auto;
    margin-right: 5px;
    position: relative;
    top: 7px;
}

.feedback {
    text-align: right;
    margin-right: 20px;
}

/* Footer  */
footer {
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

footer .social {
    display: flex;
    gap: 1rem;
    align-items: center;
}

footer p {
    font-weight: 600;
    font-size: 1rem;
    text-align: left;    
}

footer .social i {
    font-size: 2rem;
    color: #134686;
    cursor: pointer;
    transition: color 0.3s,transform 0.2s;
}

footer .social i:hover {
    color: #ED3F27;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
    .originpic {
        width: 49vw;
        height: auto;
        margin-bottom: 147px;
    }

    main {
        text-align: center;
        margin-bottom: 268px;
    }

    .btn-learnmore {
        border: none;
        padding: 10px 17vw;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 20px 1px;
        cursor: pointer;
        border-radius: 10px;
    }

    /*.pichead {
        font-size: 44px;
        
    }*/   

    .picshow {
    width: 111px;
    height: 169px;
    margin: 0px;
}

    .member {
        flex-direction: column;
        align-items: right;
    }
    
    .category {
        width: 600px;
        height: 225px;
    }

    .navbar .logo img {
        width: 75px;
    }
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .originpic {
        width: 100vw;
        height: max-content;
        float: none;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30px;
    }
    
    main {
        text-align: center;
        margin-bottom: 20px;
    }

    .pichead {
        margin-top: 0px;
        
    }

    .picshow {
    width: 76px;
    height: 115px;
    margin: 0px;
}

    .member {
        flex-direction: column;
        align-items: right;
    }

    .btn-learnmore {
        border: none;
        padding: 10px 35vw;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 20px 1px;
        cursor: pointer;
        border-radius: 10px;
    }


    .navbar nav a {
        font-size: 0.95rem;
    }


#feedd {
    
    background: #4e8ef7;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 5px;
    text-align: center;
    padding-left: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.9rem;
    font-weight: 0.5;

}


.category {
    width: 300px;
    height: 150px;
    background-color: #f4f3f3;
    padding: 20px;
    box-shadow: 5px 5px 4px #c2bfbf;
    margin: 0 auto;
    margin-top: 50px;
    color: black;
    margin-bottom: 15px;
    
}

.categoryhead {
    color: black;
    display: flex;
    font-size: 15px;
    margin-bottom: 10px;
    align-items: center;
    
}

.category div {
    margin-bottom: 15px;
    
}

.category-item  {
    display: flex;
    text-align: center;
    justify-content: space-around;

    
}

#item1 {
    font-size: 0.8rem;
    
}

#item2 {
    font-size: 0.8rem;
    margin-right: 15px;
    margin-left: 15px;
    
}

#item3 {
    font-size: 0.8rem;
    margin-top: 9px;
}

.itemimg {
    width: 65px;
}

.itemheadimg {
    width: 40px;
}


footer {
        padding: 40px 20px;
        
    }
}


@media screen and (max-width: 767px) {

    .navbar {
        padding: 10px 20px;
    }

    .navbar nav a {
        font-size: 0.8rem;
        margin-right: 0.8rem;
    }

    .btn {
        padding: 5px 12px;
        font-size: 0.8rem;
        border-radius: 9999px;
    }

    .main-content-wrapper {
        padding: 20px 20px;
    }

    .navbar .logo img {
        width: 60px;
    }

    .navbar .right-menu {
        flex-wrap: nowrap;
        gap: 5px;
    }

    footer .social i {
    font-size: 1.9rem;
    }

    footer p {
    font-size: 0.9rem;
    padding-right: 10px;
}   
}

@media screen and (max-width: 386px) {

    .navbar {
        padding: 10px 20px;
    }

    .navbar nav a {
        font-size: 0.6rem;
        margin-right: 0.2rem;
    }

    .btn {
        padding: 3px 8px;
        font-size: 0.6rem;
        border-radius: 9999px;
    }

    .main-content-wrapper {
        padding: 20px 20px;
    }

    .navbar .logo img {
        width: 50px;
    }

    .navbar .right-menu {
        flex-wrap: nowrap;
        gap: 5px;
    }

    footer p {
    font-size: 0.9rem;
}   
}