@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html, body {
  margin: 0;
  font-family: "Inter", sans-serif;
  margin: 0;
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  background: linear-gradient(to bottom, #ffe0a2, #ff7a68);
}

#logo {
  width: 70px;
}

.logo img {
  width: 50px;
  border-radius: 50%;
}

.navbar nav a {
  text-decoration: none;
  color: #000;
  font-size: 0.8rem;
}

.btn {
  border: none;
  padding: 6px 14px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #ffe0a2, #ff7a68);
  z-index: 100;
}

.registration-container-bg {
  min-width: 300px;
  width: 30%;
  background-color: #ffffff80;
  border-radius: 15px;
  margin: 50px;
}

#icon {
  margin-top: 50px;
}

#title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 0;
}

#checkbox {
  margin-top: 15px;
  accent-color: black;
  transform: scale(1.5);
}

.section1 {
  margin: 0 35px 20px 35px;
}

.section2 {
  text-align: center;
}

.subtitle {
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 10px;
}

.input-text {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 6px;
  font-size: 20px;
}

#forgot-info {
  font-size: 13px;
  font-weight: 600;
}

.remember-container {
  display: flex;
  align-items: center;
}

#remember-info {
  font-weight: 600;
  margin: 14px 0 0 10px;
}

#loginBtn {
  background-color: #4e8ef7;
  color: #fff;
  margin-top: 10px;
  padding: 12px 28px;
  border-radius: 40px;
  border: none;
  font-size: 17px;
}

.text-error {
  color: red;
}

.text-center {
  text-align: center;
}

.hide {
  display: none;
}

/* Header  */
header h1 {
    color: #134686;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

header p {
    color: #ED3F27;
}

header {
    padding: 10px 20px;
}

header .logo img {
    width: 50px;
}

/* Navbar  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
}

.navbar .logo img {
    width: 70px;
    transition: all 0.3s ease;
}

.navbar .right-menu {
    display: flex;
    align-items: center;
    gap: 6px;
}

.navbar nav a {
    text-decoration: none;
    color: #000;
    font-size: 0.95rem;
    font-weight: 700;
    margin-right: 1rem;
}

.logo img:hover {
    transform: scale(1.1);
}

.navbar nav a:hover {
    color: #c84747;
}

.btn {
    border: none;
    padding: 7px 16px;
    border-radius: 9999px;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.95rem;
}

.right-menu .btn + .btn {
    margin-left: 9px; 
}

.login {
    background: #4e8ef7;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.login:hover {
    color: #3a6fcc;
    transform: scale(1.1);
}

.signup {
    background: #f25b5b;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.signup:hover {
    color: #c84747;
    transform: scale(1.1);
}

.list-header {
  font-size: 25px;
}

.table-container {
  margin: 10px 100px 40px 100px;
  text-align: center;
}

.table-list {
  width: 100%;
  border-collapse: collapse;
  font-size: 20px;
  border: 2px solid #000;
  border-radius: 20px;
  overflow: hidden;
}

thead {
  background-color: #f25b5b;
  color: white;
}

tbody {
  background-color: #ffe0a2;
}

td, th {
  padding: 10px;
  border: 1px solid #b99043;
}

@media (max-width: 767px) {
    .navbar {
        padding: 10px 20px;
    }

    .navbar nav a {
        font-size: 0.8rem;
        margin-right: 0.8rem;
    }

    .btn {
        padding: 5px 12px;
        font-size: 0.8rem;
        border-radius: 9999px;
    }

    .navbar .logo img {
        width: 70px;
    }

    .navbar .right-menu {
        flex-wrap: nowrap;
        gap: 5px;
    }

    #title {
      font-size: 25px;
    }

    .subtitle {
      font-size: 18px;
    }

    #remember-info {
      font-size: 15px;
    }
}

@media (min-width: 768px) {
    .navbar nav a {
        font-size: 0.95rem;
    }

    .registration-container-bg {
      width: 40%;
    }
}

@media (min-width: 1024px) {
    .navbar .logo img {
        width: 75px;
    }

    .registration-container-bg {
      width: 40%;
    }
}
