.user-info {
    display: flex;
    flex: 1;
    align-items: start;
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(11, 38, 81);
}

@media (max-width: 767px) {
    .user-info {    
        font-size: 12px;
    }
}