body {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: #FDF4E3;
    min-height: 100%;
}

/*  Header  */
header h1 {
    color: #134686;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

header p {
    color: #ED3F27;
}

header {
    padding: 10px 20px;
}

header .logo img {
    width: 50px;
}

/*  Navbar  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    background-color: #fff;
}

.navbar .logo img {
    width: 70px;
    transition: all 0.3s ease;
}

.navbar .right-menu {
    display: flex;
    align-items: center;
    gap: 6px;
}

.navbar nav a {
    text-decoration: none;
    color: #000;
    font-size: 0.9rem;
}

/* ปุ่ม */
.btn {
    border: none;
    padding: 6px 14px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 500;
}

.login {
    background: #4e8ef7;
    color: white;
    text-decoration: none;
}

.signin {
    background: #f25b5b;
    color: white;
    text-decoration: none;
}

/*  Rating Card  */
#ratingCard {
    background-color: #ffffff;
    border: 3px solid #FEB21A;
    border-radius: 2rem;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: rem;
}

.rate-us-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: #333;
}

/*  Stars  */
.rating-stars-and-emoji {
    display: flex;
    align-items: center;
    gap: 1.5rem; 
    margin-bottom: 1rem; 
}

#starRating {
    display: flex;
    gap: 0.25rem;
}

.star svg {
    width: 8vw;
    max-width: 50px;
    min-width: 20px;
    height: auto;
    fill: #d1d5db;
    stroke: #134686;
    stroke-width: 1;
}

.star:hover svg,
.star.active svg {
    fill: #FEB21A;
    filter: drop-shadow(0 0 8px rgba(254, 178, 26, 0.6));
}

/*  Footer  */
footer {
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ddd;
    margin-top: 10px;
}

footer p {
    font-weight: 600;
}

footer .social i {
    font-size: 1.5rem;
    color: #134686;
    cursor: pointer;
    transition: color 0.3s;
}

footer .social i:hover {
    color: #ED3F27;
}

/*  Media Queries */
@media (max-width: 767px) {

    .navbar {
        padding: 10px 20px;
    }

    .navbar .logo img {
        width: 70px;
        /* มือถือใหญ่ขึ้น */
    }

    .navbar .right-menu {
        flex-wrap: nowrap;
        gap: 5px;
        /* ชิดกันมากขึ้น */
    }

    .navbar nav a {
        font-size: 0.85rem;
    }

    #ratingCard {
        padding: 1rem;
        text-align: center;
    }

    #starRatingContainer {

        justify-content: center;
        gap: 0.5rem;


        .star svg {
            width: 35px;
            min-width: 35px;
        }
    }
}

@media (min-width: 768px) {
    .navbar nav a {
        font-size: 0.9rem;
    }
}

@media (min-width: 1024px) {
    .navbar .logo img {
        width: 75px;
    }
}