body {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: #FDF4E3;
    min-height: 100%;
}

/*  Header  */
header h1 {
    color: #134686;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

header p {
    color: #ED3F27;
}

header {
    padding: 10px 20px;
}

header .logo img {
    width: 50px;
}

/*  Navbar  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    background-color: #fff;
}

.navbar .logo img {
    width: 70px;
    transition: all 0.3s ease;
}

.navbar .right-menu {
    display: flex;
    align-items: center;
    gap: 6px;
}

.navbar nav a {
    text-decoration: none;
    color: #000;
    font-size: 0.9rem;
}

/* ปุ่ม */
.btn {
    border: none;
    padding: 6px 14px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 500;
}

.login {
    background: #4e8ef7;
    color: white;
}

.signin {
    background: #f25b5b;
    color: white;
}