
body {
    font-family: inter, sans-serif;
}

a:link,
a:visited,
a:hover,
a:active {
  color: black; 
  text-decoration: none; 
}


header {
    padding: 10px;
    text-align: right;
    font-size: 16px;  
      
}

.festicon {
    width: 75px;
    height: 75px;
    float: left;
    margin-top: 0px;
    margin-right: 0px;
}

main {
    text-align: left;
    margin-top: px;
    margin-bottom: 180px;
    margin-left: 0px;
    margin-right: 0px;

}

.originheading {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0px;
}


article {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #606060;
    
}

.originpic {
    width: 500px;
    height: auto;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: px;
    float: right;
}

figure {
   text-align: center;
}


.pichead {
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: -80px;
}  

.pictext {
    font-size: 20px;
    color: #606060;
    margin-bottom: 40px;
    margin-top: 10px;
}

.picshow {
    width: 250px;
    height: 375px;
    margin: 0px;
}



.member {
    display: flex;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #606060;
}
.memberhead {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: black;
}
    

.category {
    width: 700px;
    height: 250px;
    background-color: #f4f3f3;
    padding: 20px;
    box-shadow: 5px 5px 4px #c2bfbf;
    margin: 0 auto;
    margin-top: 50px;
}

.categoryhead {
    display: flex;
    font-size: 20px;
    margin-bottom: 10px;
    align-items: center;
    
}

.category div {
    
    margin-bottom: 15px;
   

}

.category-item  {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

#item3 {
    margin-top: 15px;
}

button {
    border: none;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 1px;
    cursor: pointer;
    border-radius: 50px;
}

.btn-login {
    background-color: #7BA9FF; 
    color: black;
}

.btn-signup {
    background-color: #FF7B7B; 
    color: black;
}

.btn-learnmore {
    background-color: #000000; 
    color: white;
}

.btn-feedback {
    background-color: #7BA9FF; 
    color: black;
    margin: 20px 1px;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
}

.feedbackicon {
    width: 30px;
    height: auto;
    margin-right: 5px; 
    float: left;
}

.feedback {
    text-align: right;
    margin-right: 20px;
}

@media screen and (max-width: 1024px) {
    .originpic {
        width: 49vw;
        height: auto;
        margin-bottom: 147px;
    }

    main {
        text-align: center;
        margin-bottom: 268px;
    }

    .btn-learnmore {
        border: none;
        padding: 10px 17vw;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 20px 1px;
        cursor: pointer;
        border-radius: 10px;
    }

    .pichead {
        font-size: 44px;
        
    }   

    .picshow {
    width: 111px;
    height: 169px;
    margin: 0px;
}

    .member {
        flex-direction: column;
        align-items: right;
    }
    
    .category {
        width: 600px;
        height: 225px;
    }
}


@media screen and (max-width: 600px) {
    .originpic {
        width: 100vw;
        height: max-content;
        float: none;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30px;
    }
    
    main {
        text-align: center;
        margin-bottom: 20px;
    }

    .pichead {
        margin-top: 0px;
        
    }

    .picshow {
    width: 76px;
    height: 115px;
    margin: 0px;
}

    .member {
        flex-direction: column;
        align-items: right;
    }

    .btn-learnmore {
        border: none;
        padding: 10px 40vw;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 20px 1px;
        cursor: pointer;
        border-radius: 10px;
    }

    .category {
        width: 400px;
        height: 220px;
    }
}